
body {
    background-image: url("geom2.jpg");
  }

#aftercheck {
    visibility: hidden;
}

p  {
    font-family: 'Raleway', sans-serif;
    font-size: 130% ;
}

.btn:hover, .btn:active, .btn:focus {
    color: #ffffff ;
    background-color: rgb(113, 36, 214);
    border-color: rgb(0, 110, 255) ;
  }
  
   #h1 {
    text-align: center
   }
   .startbuttondiv {
    text-align: center ;
    padding-bottom: 20px ;
   }
   #navfrst {
    font-family: 'Raleway', sans-serif;
   }
   h1 {
    font-family: 'Raleway', sans-serif;
   }